.container{
    display: flex;
}
.container  .card{
    width:25%;
    height: 300px;
    border: 1px solid black;         
}
.container .card1{
    color:orange;
    background-color: violet;
    text-align: center;

}
.container  .card2 img{
    width: 100%;
    height: 300px;
}

.html_table{
    background-image: linear-gradient(180deg,orange,yellow);
}
.html_table h2{
    text-align: center;
    color: black;
    padding: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.html_table table{
    margin: 20px;
    width: 100%;
    border-collapse: collapse;
}
.html_table table td,th{
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    color: rgb(4, 19, 4);

}
.html_form{
    padding: 50px;
}
.html_form form{
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 16px red;
    width: 50%;
    border-radius: 35px;
    text-align: center;
    
}
.html_form form h2{
    color: blue;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.html_form form input{
    width: 90%;
    margin: 10px;
    padding: 5px;
    border: none;
    border-left: 5px solid orange;

}
.html_form form select{
    width: 90%;
    margin: 10px;
    border: none;
    padding: 5px;

    border-left: 3px solid orange;

}
.html_form form button{
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px gold;
    padding: 10px;
    border: none;
    background-color: aqua;
    font-size: 15px;
}
.html_form form input:hover{
    border-left: 4px solid blue;
}
.html_form form button:hover{
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgb(0, 255, 191);
    padding: 10px;
    border: none;
    background-color: rgb(244, 248, 9);
    font-size: 15px;
}
.html_form form select:hover{
    border-left: 4px solid blue;
}
footer{
    background-color: rgb(187, 183, 183);
    padding: 50px;
}
footer .pages{
    text-align: center;
}
footer .pages h3{
    color: black;
    font-size: 20px;
    font-family:Brush Script MT;
    padding: 5px;
}
footer .pages a{
    text-decoration: none;
    margin: 10px;
    color:orange;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer .pages a:hover{
    color: white;
}
footer .doc{
    text-align: center;
}
footer .doc h3{
    color: black;
    font-size: 20px;
    font-family: Brush Script MT;
    padding: 5px;
}
footer .doc a{
    text-decoration: none;
    margin: 10px;
    color:orange;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer .doc a:hover{
    color: white;
}
footer .Social{
    text-align: center;
}
footer .Social h3{
    color: black;
    font-size: 20px;
    font-family: Brush Script MT;
    padding: 5px;
}
footer .Contact{
    text-align: center;
}
footer .Contact h3{
    color: black;
    font-size: 20px;
    font-family: Brush Script MT;
    padding: 5px;
}
footer .Social a{
    text-decoration: none;
    font-size: 30px;
    color: orange;
    margin: 10px;
}
footer .Social a:hover{
    color: white;
}
img{
    height: 130px;
    width: 190px;
}
footer .Contact a{
    color: orange;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}
footer .Contact a:hover{
    color:white;
}